{% extends "app/layout.html" %}

{% block content %}

<div class="login-reg",>
	<div class="container">
		<div class="container">
            <div class="login-reg-form">
                <div class="container">
<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    Team 03C<br />
    Rochester Institute of Technology, 
    Rochester,NY 14623<br />
    <abbr title="Phone">Ph No:</abbr>
    5853504237
</address>

                </div>
            </div>
        </div>
	</div>
</div>

{% endblock %}
