{% extends "app/layout.html" %}


{% load widget_tweaks %}
{% block content%}
    
	<div class="login-reg">
			<!-- Login Form -->
			<div class="login-reg-form">
				<!-- Heading -->
				<h4>Please Update Your Password</h4>
				<br />
                <div>
                {{msg}}
                </div>
				<!-- Form -->
				<!-- Form Horizontal -->
				<form class="form-horizontal" role="form" method="post" action="{%url 'password_update_form' %}">{% csrf_token %}
					<!-- Form Group -->
					<div class="form-group">
						<!-- Label -->
						<label for="oldPassword" class="col-sm-3 control-label">Old Password</label>
						<div class="col-sm-9">
                         {{pwd.oldPassword}}
                         {{pwd.oldPassword.errors}}
						</div>
					</div>
                    <div class="form-group">
						<!-- Label -->
						<label for="newPassword" class="col-sm-3 control-label">New Password</label>
						<div class="col-sm-9">
                         {{pwd.newPassword}}
                         {{pwd.newPassword.errors}}
						</div>
					</div>
                    <div class="form-group">
						<!-- Label -->
						<label for="newPassword1" class="col-sm-3 control-label">Confirm Password</label>
						<div class="col-sm-9">
                         {{pwd.newPassword1}}
                         {{pwd.newPassword1.errors}}
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-sm-offset-3 col-sm-9">
						  <!-- Buton -->

						  <button type="submit" value="POST" class="btn btn-red">Update Password</button>&nbsp;
						  <a  href="{%url 'home'%}" class="btn btn-white">Cancel</a>
						</div>
					</div>
				</form>
			</div>
		</div>	
        <br />
        <br />
        <br />
        <br />		
		<!-- Login Ends -->
	{% endblock %}