{% extends "app/layout.html" %}


{% load widget_tweaks %}
{% block content%}

	<div class="login-reg">
			<!-- Login Form -->
			<div class="login-reg-form">
				<!-- Heading -->
				<h4>Reset Your Password</h4>
				<br />
                <div>
                {{msg}}
                </div>
				<!-- Form -->
				<!-- Form Horizontal -->
				<form class="form-horizontal" role="form" method="post" action="{%url 'password_change_form'%}">{% csrf_token %}
					<!-- Form Group -->
					<div class="form-group">
						<!-- Label -->
						<label for="Name1" class="col-sm-3 control-label" required>User Name</label>
						<div class="col-sm-9">
                         {{form.userName}}
                         {{form.userName.errors}}
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-sm-offset-3 col-sm-9">
						  <!-- Buton -->

						  <button type="submit" value="POST" class="btn btn-red">Get Password</button>&nbsp;
						  <a  href="{%url 'login'%}" class="btn btn-white">Cancel</a>
						</div>
					</div>
				</form>
			</div>
		</div>	
        <br />
        <br />
        <br />
        <br />		
		<!-- Login Ends -->
	{% endblock %}